button {
  margin: 10px;
}
i { margin: 10px;}
input { margin: 5px;}

.shop-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.stats-card {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  padding: 5px;  
  width: 100%;
}
