<div class="cardCenter">
  <mat-card class="example-card">
    <mat-card-header align="center">
      <mat-card-title>Iniciar Sesión</mat-card-title>
      <mat-card-subtitle>Supervisión 3H</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="example-container">
        <form #loginForm="ngForm" class="example-form" (ngSubmit)="login()">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" type="email" name="email" #email="ngModel" [(ngModel)]="user.email"
              required>
            <span *ngIf="!email.valid && email.touched">
              El campo es obligatorio
            </span>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Contraseña" type="password" name="password" #password="ngModel"
              [(ngModel)]="user.password" required>
            <span *ngIf="!password.valid && password.touched">
              El campo es obligatorio
            </span>
          </mat-form-field>
          <br>
          <div align="center">
            <button mat-raised-button color="warn" type="submit" [disabled]="!loginForm.form.valid">Iniciar
              Sesión</button>
          </div>
        </form>
      </div>
    </mat-card-content>
    <mat-card-actions align="center">
    </mat-card-actions>
  </mat-card>
  <ngx-spinner></ngx-spinner>

</div>