@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  background-size:cover; width:auto;
  background-image:url('http://hostingwebmex.com/z3h/background.jpg');
  background-repeat: no-repeat;
}

.bg-3h {
  background: #B91919;
}

.color-3h{
  color: #B91919;
}